/* UMBRELLA */
html {
	font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
	}

body {
	font-family: 'Roboto', sans-serif;
	background: #e5e4e2;
	color: #222;
	}
	
h1 {
	color: #b2182b;
	font-weight: 900;
	font-size: 7em;
	}

h2 {
	color: #b2182b;
	font-weight: 400;
	font-size: 5em;
	}

h3 {
	font-weight: 400;
	font-size: 1.6em;
	}

h4 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	}

.bulk h3 {
	display: block;
	margin-top: 20%;
	margin-left: 5px;
	}
	
.navbar {
	background: #b2182b;
	border-bottom: 0px;
	}

/* BUTTON AND DRAWER */ 
.navbar-inverse .navbar-toggle {
	border-color: #ddd;
	margin-top: 20px;
	}
	
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #b2182b;
	}
	
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #ddd;
	}

/* MENU ITEMS */
.brand img {
	height: 60px;
	margin: 8px;
	}

.navbar-inverse .navbar-nav > li > a {
	margin: 8px;
	color: #ddd;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	}

.navbar-inverse .navbar-nav > li > a:hover :focus {
	color: #222;
	}

	
/* HOME SCREEN */
.home {
	display: block;
	margin-top: 20%;
	margin-left: 5px;
	font-weight: 300;
	font-size: 90px;
	}
	
.search {
	margin-left: auto;
}

.team {
	border: 10px;
	border-radius: 0px;
	border-color: #222;
	height: 50px;
	margin: 5px;
	padding: auto 6px;
	width: 100%;
	min-width: 400px;
	font-size: 25px;
	font-weight: 300;
	color: #222;
	text-transform: uppercase;
	}

.play {
	background-color: #b2182b;
	margin-left: 10px;
	font-size: 40px;
	font-weight: 900;
	color: #ddd;
	letter-spacing: 3px;
	padding: 5px 10px;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	}

.play:focus {
	background-color: #ddd;
	color: #b2182b;
	}

/* EMPTY CARDS */
.panel-group .panel {
	border: 0px;
	border-radius: 0px;
	margin: auto;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border:0px;
}

.panel-title {
	font-size: inherit;
}

.panel-title:hover :focus {
	text-decoration: none;
}

.panel-title a {
	font-size: inherit;
	color: #b2182b;
	display: block;
	width: 100%;
	text-decoration: none;
}
/* COMPLETE CARDS */
.teamLogo img {
	float: left;
	vertical-align: middle;
	max-height: 150px;
	max-width: 150px;
	margin: 10px;
	margin-left: 10%;
	}

div#awayLogo.teamLogo {
	float: right;
	margin: 10px;
	margin-right: 10%;
	}
	
.homeText {
	text-align: right;
	padding-right: 15%;
}

.awayText {
	text-align: left;
	padding-left: 15%;
}

.win {
	font-size: 30px;
	line-height: 0px;
	font-weight: 900;
	color: #b2182b;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.attend {
	font-size: 30px;
	line-height: 0px;
	font-weight: 900;
	color: #b2182b;
	text-transform: uppercase;
	letter-spacing: 2px;
}

div#homeSpeedometer.dial {
	float: right;
	margin-right: 20%;
}

div#awaySpeedometer.dial {
	float: left;
	margin-left: 20%;
}

.gauge .domain {
	stroke-width: 6px;
	stroke: #898989;
}

.gauge line {
	stroke: #fff;
}

.gauge .indicator {
	stroke-width: 6px;
	stroke: #b2182b;
}

/* MOBILE OPTIMIZATION*/
@media (max-width: 760px) { 
        body {
          font-size: 11px;
        }

        .hidden-phone {
           display: block;
        }
        .home {
	        font-size: 80px;
        }
        
        .search {
			margin-left: 0px;
		}
        
        .play {
        	display: block;
        	width: 90%;
        	min-width: 200px;
        	margin-left: 5%;
        }
        
        .team {
        	width: 90%;
        	min-width: 300px;
			margin: auto;
        }
    }

@media (max-width: 460px) { 
	.home {
	        font-size: 40px;
        }
    }