<html>
    <head>
    	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/d3_custom.css">

		<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<title>Tape to Tape</title>
	<script src="/static/lib/jquery.js"></script>
	<script src="/static/lib/bootstrap.min.js"></script> 
        <script src="/static/lib/bootstrap-slider.js"></script> 

          <link rel="stylesheet" href="static/css/style.css">
          <link rel="stylesheet" href="static/css/jquery-ui.css">
          <script src="/static/js/jquery-1.9.1.js"></script>
          <script src="/static/js/jquery-ui.js"></script>
          <script src="/static/js/autocomplete.js"></script>
          <script src="/static/js/transition.js"></script>
          <script src="/static/js/bars.js"></script>
          <script src="/static/js/speedometer.js"></script>
          <script src="/static/js/plot_data.js"></script>

          <script type="text/javascript" src="/static/js/d3.js"></script>
          <!-- <script type="text/javascript" src="http://iop.io/js/vendor/polymer/polymer.min.js"></script> -->
          <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>

        
        <style type="text/css">
            p {
                font-size: 18px;
                line-height: 22px;
                margin: 25px;
            }
        </style>
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="brand" href="/">
                	<img src="/static/img/logo (white).png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="about.html">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
		
        {% block body_content %}
        <div class="container" >
        {%block custom_css %}
        {% endblock %}

        {% block content %}
        Base 
        {% endblock %}

    
        {% endblock %}
        </div>

    </body>
</html>
