{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid">
	<h1 class="home" id='searchTitle'>Start your search:</h1> 
</div>

<form class="form-inline search" role="form">
  <div class="form-group">
    <input type="textfield" class="form-control team" id="homeTeam" placeholder="Home team">
  </div>
  <div class="form-group">
    <input type="textfield" class="form-control team" id="awayTeam" placeholder="Away team">
  </div>
  <button class="btn play" id='submitTeams'>PLAY</button>
</form>

<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#">
          Summary
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        {% include 'stat1.html' %}
      </div>
    </div>
  </div>
</div>


<div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#">
          Scoring Stats
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        {% include 'stat2.html' %}
      </div>
    </div>
  </div>
</div>




<div class="panel-group" id="accordion3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseThree" href="#">
          Average Game Attendance
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        {% include 'stat3.html' %}
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseFour" href="#">
          Match Stats
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
      <div class="panel-body">
        {% include 'stat4.html' %}
      </div>
    </div>
  </div>
</div>



{% endblock %}
