
<div class="row">
	
	<span style="margin-left: 33%"> Total Goals <span>
	<div id="total_goals_bar_div" class="text-center"></div>

	<span style="margin-left: 33%"> Power Play Goals <span>
	<div id="ppg_bar_div" class="text-center"></div>
	
	<span style="margin-left: 33%"> Shots<span>
	<div id="shot_bar_div" class="text-center"></div>
	

</div>
