<div class="row">
	<div class="col-md-6 dial">
		<span align="center" class="attend">HOME TEAM<span>
		<div id="homeSpeedometer" class="text-center"></div>
	</div>
	<div class="col-md-6 dial">
		<span align="center" class="attend">AWAY TEAM<span>
		<div id="awaySpeedometer" class="text-center"></div>
	</div>
	
</div>