
<div class="row">
	<div class="col-md-6">
		<div class="teamLogo" id="homeLogo"></div>
		<div class="homeText" id="homeWon"></div>
		<div class="homeText" id="homeGoals"></div>
	</div>
	<div class="col-md-6">
	<div class="teamLogo" id="awayLogo"></div>
		<div class="awayText" id="awayWon"></div>
		<div class="awayText" id="awayGoals"></div>
		
	</div>
</div>
